
# GlassFish server specific files
/glassfish-resources.xml
/glassfish-web.xml

# IDE settings
/.idea/
*.iml

# Compiled files
*.class

# OS-specific files
.DS_Store
Thumbs.db

/nbproject/private/
/nbproject/build/
/nbproject/genfiles/
/nbproject/priv/
/build/