<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>myPackage.cart.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetailsServlet</servlet-name>
        <servlet-class>myPackage.cart.CartDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSummaryServlet</servlet-name>
        <servlet-class>myPackage.cart.OrderSummaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactInformation</servlet-name>
        <servlet-class>myPackage.cart.ContactInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressInfoServlet</servlet-name>
        <servlet-class>myPackage.cart.AddressInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutDetailsServlet</servlet-name>
        <servlet-class>myPackage.cart.CheckoutDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderCompleteServlet</servlet-name>
        <servlet-class>myPackage.cart.OrderCompleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetailsServlet</servlet-name>
        <url-pattern>/CartDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSummaryServlet</servlet-name>
        <url-pattern>/OrderSummaryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactInformation</servlet-name>
        <url-pattern>/ContactInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressInfoServlet</servlet-name>
        <url-pattern>/AddressInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutDetailsServlet</servlet-name>
        <url-pattern>/CheckoutDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderCompleteServlet</servlet-name>
        <url-pattern>/OrderCompleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
