<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>myPackage.cart.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetailsServlet</servlet-name>
        <servlet-class>myPackage.cart.CartDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSummaryServlet</servlet-name>
        <servlet-class>myPackage.cart.OrderSummaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactInformation</servlet-name>
        <servlet-class>myPackage.cart.ContactInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressInfoServlet</servlet-name>
        <servlet-class>myPackage.cart.AddressInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutDetailsServlet</servlet-name>
        <servlet-class>myPackage.cart.CheckoutDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderCompleteServlet</servlet-name>
        <servlet-class>myPackage.cart.OrderCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>myPackage.admin.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>myPackage.admin.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriesServlet</servlet-name>
        <servlet-class>myPackage.admin.CategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategoryServlet</servlet-name>
        <servlet-class>myPackage.admin.GetCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCategoryServlet</servlet-name>
        <servlet-class>myPackage.admin.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCategiryServlet</servlet-name>
        <servlet-class>myPackage.admin.RemoveCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdcutsServlet</servlet-name>
        <servlet-class>myPackage.admin.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductServlet</servlet-name>
        <servlet-class>myPackage.admin.RemoveProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductServlet</servlet-name>
        <servlet-class>myPackage.admin.GetProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>myPackage.admin.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersServelt</servlet-name>
        <servlet-class>myPackage.admin.OrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>myPackage.authentication.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SigninServlet</servlet-name>
        <servlet-class>myPackage.authentication.SigninServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignoutServlet</servlet-name>
        <servlet-class>myPackage.authentication.SignoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetailsServlet</servlet-name>
        <url-pattern>/CartDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSummaryServlet</servlet-name>
        <url-pattern>/OrderSummaryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactInformation</servlet-name>
        <url-pattern>/ContactInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressInfoServlet</servlet-name>
        <url-pattern>/AddressInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutDetailsServlet</servlet-name>
        <url-pattern>/CheckoutDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderCompleteServlet</servlet-name>
        <url-pattern>/OrderCompleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/AddCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriesServlet</servlet-name>
        <url-pattern>/CategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategoryServlet</servlet-name>
        <url-pattern>/GetCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCategoryServlet</servlet-name>
        <url-pattern>/updateCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCategiryServlet</servlet-name>
        <url-pattern>/RemoveCategiryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdcutsServlet</servlet-name>
        <url-pattern>/ProdcutsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductServlet</servlet-name>
        <url-pattern>/RemoveProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductServlet</servlet-name>
        <url-pattern>/GetProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersServelt</servlet-name>
        <url-pattern>/OrdersServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SigninServlet</servlet-name>
        <url-pattern>/SigninServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignoutServlet</servlet-name>
        <url-pattern>/SignoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
